<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.shell.Norflow</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>exec $HOME/norflow/script/norflow.zsh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
      <string>/tmp/local.norflow.stderr.txt</string>
    <key>StandardOutPath</key>
      <string>/tmp/local.norflow.stdout.txt</string>
    <key>StartInterval</key>
      <integer>300</integer>
  </dict>
</plist>
